PORT=5000
DATABASE_URL=<postgresql_connection_url>
DIRECT_URL=<direct_postgresql_connection_url>
REDIS_USERNAME=<redis_username>
REDIS_PASSWORD=<redis_password>
REDIS_HOST=<redis_host>
REDIS_PORT=<redis_port>
TELEGRAM_BOT_TOKEN=<telegram_bot_token>
TELEGRAM_BOT_TOKEN_INTERNAL=<admin_bot_token>
OLLAMA_API_KEY=<ollama_api_key>
OLLAMA_HOST=<ollama_host_url>
OLLAMA_MODEL_NAME=<ollama_model_name>
SECRET_KEY_1=<64_hex_chars_hmac_key>
SECRET_KEY_2=<64_hex_chars_aes_key>
ADMINS=<username_or_userid>
