name: Deploy to EC2 on main

on:
    push:
        branches:
            - main

jobs:
    deploy:
        if: vars.EC2_ALIVE == 'true'
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: SSH and deploy with Docker Compose
              uses: appleboy/ssh-action@v1.0.3
              with:
                  host: ${{ secrets.EC2_HOST }}
                  username: ${{ secrets.EC2_USER }}
                  key: ${{ secrets.EC2_SSH_KEY }}
                  port: 22
                  script: |
                      cd ~/my-projects/Talkasauras_Bot
                      git pull origin main
                      docker compose build --no-cache
                      docker compose down
                      docker compose up -d
                      echo "Deployment completed successfully on EC2"
